datacenter = "{{ consul_config.dc }}"
data_dir   = "{{ consul_config.data_dir }}"
retry_join = ["{{ consul_config.join_addr }}"]

server = {{ consul_config.server | lower }}
{% if consul_config.server %}
bootstrap_expect = {{ consul_config.server_count | int }}
{% endif %}

addresses {
  http = {%raw%}"127.0.0.1 {{ GetInterfaceIP \"docker0\" }} {{ GetInterfaceIP \"{%endraw%}{{ consul_config.eth_intf }}{%raw%}\" }}"
{%endraw%}
}

advertise_addr = {%raw%}"{{ GetInterfaceIP \"{%endraw%}{{consul_config.eth_intf }}{%raw%}\" }}"{%endraw%}

{%raw%}
ports {
  grpc  = 8502
  dns   = 8600
  http  = 8500
  https = 8501
}

ui_config {
  enabled = true
}

connect {
  enabled = true
}

telemetry {
  prometheus_retention_time = "24h"
  disable_hostname          = true
}

# Enable script checks
enable_script_checks       = true
enable_local_script_checks = true

tls {
  defaults {
    verify_incoming = false
    verify_outgoing = false
  }
  grpc {
    use_auto_cert = false
  }
}

acl = {
  enabled                  = true
  default_policy           = "allow"
  enable_token_persistence = true
}
{%endraw%}